@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.logo {
    padding-top: 5px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Aref Ruqaa Ink', serif;
    font-size: 250%;
}

.logo_link {
    text-decoration: none;
    color: black;
}

.menu {
    letter-spacing: 3px;
    text-align: center;
}

.menu li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px 0 20px;

}

.menu a {
    text-decoration: none;
    color: inherit;
  
}

/* Hero image styling */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 10px;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/yoga-hero.jpg') no-repeat center center;
    background-size: cover;
}

#cover-text{
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    text-align: justify;
    
    width: 235px;
    padding: 2px 5px 2px 5px;
    border-radius: 2%;

    background-color: rgba(255, 255, 255, .5);

    top: 200px;
    left: 110px;

    position: absolute;
}

.red-cover-text {
    color: #ab2c2c;
}

.white-cover-text {
    color: #000
}