@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.logo {
    padding-top: 5px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Aref Ruqaa Ink', serif;
    font-size: 400%;
}

.logo_link {
    text-decoration: none;
    color: black;
}

nav {
    letter-spacing: 3px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px 0 20px;
 
}

nav li a {
    text-decoration: none;
    color: inherit;
    padding-bottom: 2px;
}

nav li:hover {
    border-bottom: 2px solid #cfb36b;
}

/* Hero image styling */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 10px;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/yoga-hero.jpg') no-repeat center center;
    background-size: cover;
}

/* Main text styling */

#main-text-body {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding-top: 10px;
}

#discover-text {
    display: inline-block;
    text-align: left;
    font-size: 250%;
    text-transform: capitalize;
    max-width: 450px;
}

.yellow-text {
    color: #cfb36b;
}